<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >E Treatment Room</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Register",  new_patient_path%></li>
      <li class="active"><%= link_to "Login", login_path %></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Patient Login</h1>
<%= render 'layouts/message' %>
<div class="jumbotron">
<%= form_with scope: :patient, url: sessions_create_path ,local: true do |form| %>
	<% if flash[:notice]%>
		<%= flash[:notice] %>
	<br>
	<% end %>
	<p>
	<%= form.text_field :email , placeholder:'Enter Email id', class:"form-control" %>
	</p>
	<p>
	<%= form.password_field :password , placeholder:'Enter Password', class:"form-control"%>
	</p>
	<p align="center">
	<%= form.submit 'Login' ,class:"btn btn-primary btn-md"%>
	</p>
<%end%>
</div>
</div>