<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >E Treatment Room</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Login",  doctorlogin_path  %></li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Doctor Login</h1>
	<%= render 'layouts/message'%>
<div class="jumbotron">
<%= form_with scope: :doctor, url: doctorsessions_create_path ,local: true do |form| %>
	<br>
	
	<p>
	<%= form.text_field :email , placeholder:'Enter Email ID' ,class:"form-control" %>
	</p>
	<p>
	<%= form.password_field :password , placeholder:'Enter Password',class:"form-control"%>
	</p>
	<p align="center">
	<%= form.submit 'Login'  ,class:"btn btn-primary btn-md"%>
	</p>
<%end%>
</div>
</div>