<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >E-Treatment Room</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", doctor_path(session[:checkdoc_id]) %></li>
      <li><%= link_to "Edit Profile", edit_doctor_path(session[:checkdoc_id]) %></li>
      <li><%= link_to "View Patients", viewpatients_path(session[:checkdoc_id]) %></li>
      <li><%= link_to "Add Prescription", new_doctor_prescription_path(session[:checkdoc_id]) %></li>	
      <li><%= link_to "View All Prescription", docviewall_path %></li>
      <li><%= link_to "View Your Prescription", doctor_prescriptions_path(session[:checkdoc_id]) %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Logout", doctorsessions_destroy_path %></li>
    </ul>
  </div>
</nav>